<?xml version="1.0" encoding="UTF-8"?>
<action>
    <icon>folder-remote</icon>
    <name>Send to SFTP</name>
    <unique-id>send-to-sftp-0</unique-id>
    <command>send-to-sftp %F</command>
    <description>Upload selected files to a remote host via SFTP</description>
    <patterns>*</patterns>
    <directories/>
    <audio-files/>
    <image-files/>
    <other-files/>
    <text-files/>
    <video-files/>
</action>
